#grid {
  display: flex;
  flex-wrap: wrap;
  height: 700px;
  width: 1300px;
  border: 10px #A9A9A9;
  background: #CECECE;
}

.node-legend-container {
  font-size: 20px;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
  } 
}