#info-header {
  display: flex;
  flex-direction: row;
  position: fixed;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  background-color: #393e46;
  color: #ffd369;
  font-size: 25px;
  font-weight: 700;
  overflow-x: hidden;

  .header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: default;
    padding: 10px;
    margin-left: 20px;

    &:hover {
      color: rgb(237, 237, 237);
    }
  }
}

.node-legend-container {
  font-size: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: rgb(237, 237, 237);

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;

    li {
      display: flex;
      align-items: center;
      justify-content: center;

      img, i {
        margin-right: 5px;
      }
    }
  } 
}

#root-legend {
  height: 16px;
  width: 16px;
}

#target-legend {
  height: 16px;
  width: 16px;
}

#unsearched-legend {
  color: #f7f7f7;
}

#searched-legend {
  color: rgb(111, 255, 255);
}

#wall-legend {
  color: #393e46;
  border: 1px solid white;
}

#path-legend {
  color: #ffd369;
}

.contact-links-container {
  align-items: center;
  justify-content: center;
  display: flex;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    margin-right: 20px;

    button {
      background: none;
      border: none;
      font-size: 25px;
      padding: 0px;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }

    a, button {
      text-decoration: none;
      color: #ffd369;
      transition: 0.3s;
      &:hover {
        color: rgb(237, 237, 237);
      }
    }
  }
}