@import "./reset.scss";
@import "./header.scss";
@import "./nav.scss";
@import "./board.scss";
@import "./tile.scss";
@import "./media_queries.scss";

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 80px;
  height: 88vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}