.show-modal {
  display: block;
}

.hide-modal {
  display: none;
}

.hide-button {
  visibility: hidden;
}

#modal { 
  position: fixed;
  background-color: #393e46;
  background-color: rgba(0,0,0,0.6);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  overflow: auto;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffd369;
    font-size: 35px;
    font-weight: 700;
    cursor: default;
    
    #modal-logo {
      margin-left: 15px;
    }

    #exit-button {
      background: none;
      border: none;
      font-size: 45px;
      color: #ffd369;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }

  #modal-title, #modal-page-num {
    text-align: center;
    color: white;
    font-weight: 700;
  }

  #modal-title {
    font-size: 25px;
  }

  .modal-content {
    background-color: #393e46;
    -webkit-box-shadow: 0px 0px 25px 6px #323232; 
    box-shadow: 0px 0px 25px 3px #323232;
    margin: 15% auto;
    padding: 20px;
    border-radius: 15px;  
    width: 80%;
  }

  .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #modal-page-num {
      font-size: 20px;
    }

    #back-button, #next-button {
      background: none;
      border: none;
      font-size: 45px;
      color: #ffd369;
      cursor: pointer;
    }
  }
}