button:focus {
  outline: none;
}

nav {
  color: white;
  
  .information-panel-container {
    width: 400px;
    height: 100px; 

    #algorithm-title {
      display: flex;
      justify-content: center;
      width: auto;
      text-decoration: underline;
      font-weight: 800;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    span {
      display: block;
      height: 70px;
      line-height: 20px;
      overflow: hidden;

      &:hover {
        overflow-y: scroll;
        
        &::-webkit-scrollbar {
          width: 9px;
          background: transparent;          
        }

        &::-webkit-scrollbar-track {
          background: transparent;        /* color of the tracking area */
        }

        &::-webkit-scrollbar-thumb {
          background-color: #5C636E;    /* color of the scroll thumb */
          border-radius: 20px;       /* roundness of the scroll thumb */
          border: 1px solid 393E46;  /* creates padding around scroll thumb */
        }
      }
    }
  }
  
  .nav-bar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #393e46;
    border-radius: 15px;
    width: 1300px;
    height: 125px;
    margin-top: 25px;
    -webkit-box-shadow: 0px 0px 25px 6px #595959; 
    box-shadow: 0px 0px 25px 3px #595959;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.controls-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 125px;
}

.speed-slider-container {
  display: flex;
  width: 200px;
  height: 30px;
  align-items: center;
  justify-content: center;
  p {
    font-weight: 700;
    margin-right: 5px;
  }
}

.wall-controls-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;

  #clear-button, #randomize-button {
    font-size: 13px;
    font-weight: 700;
    color: white;
    background: #dfb75b;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    border: none;
    transition: 0.25s ease-in-out;
  }

  #clear-button {
    &:hover {
      cursor: pointer;
      background-color: #c23838;
    }
  }

  #randomize-button {
    width: 100px;
    &:hover {
      cursor: pointer;
      background-color: #cd8f00;
    }
  }
}

.visualization-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 125px;
  width: 100px;

  #start-button, #reset-button { 
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border: none;
    transition: 0.25s ease-in-out;
  }
  
  #start-button {
    background-color: #1B8000;

    &:hover {
      cursor: pointer;
      background-color: #26ae01;
    }
  }
  
  #reset-button {
    background-color: #c12727;

    &:hover {
      cursor: pointer;
      background-color: #f43131;
    }
  }
}

