
.tile {
  height: 25px;
  width: 25px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #b6b6b6;
  border-right: 1px solid #b6b6b6;
}

.root {
  background: url("../images/root_node.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  cursor: move;
}

.target {
  background: url("../images/target_node.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  cursor: move;
}

// Hides root and target tiles while being dragged
.hide {
  background: #f7f7f7;
}

.searched {
  animation: 1.0s ease both searchTile;
}

.path {
  animation: 0.75s ease both pathTile;
}

.wall {
  animation: 0.75s ease both placeWall;
}

.weight {
  // animation: 0.75s ease both placeWeight;
  background: url("../images/weight.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  background-blend-mode: multiply;
  transition: opacity 0.75s ease-in-out;
}

@keyframes searchTile {
  from {
    background-color: rgb(19, 105, 255);
    border-radius: 100%;
    transform: scale(0.75);
    opacity: 50%;
  }

  to {
    background-color: rgb(111, 255, 255);
    border-radius: 0%;
    transform: scale(1.0);
    opacity: 100%;
  }
}

@keyframes pathTile {
  from {
    background-color: rgb(255, 248, 153);
    transform: scale(1.25);
  }
  
  to {
    background-color: #ffd369;;
    transform: scale(1.0);
  }
}

@keyframes placeWall {
  from {
    background: #687180;
  }

  to {
    background: #393E46;
  }
}