.tile {
  height: 25px;
  width: 25px;
  background-color: #cecece;
  border-bottom: 1px solid rgb(155, 155, 155);
  border-right: 1px solid rgb(155, 155, 155);
}

.root {
  background: green;
}

.target {
  background: red;
}

.searched {
  background: blue;
}

.path {
  background: yellow;
}