.tile {
  height: 25px;
  width: 25px;
  background-color: #cecece;
  border-bottom: 1px solid rgb(155, 155, 155);
  border-right: 1px solid rgb(155, 155, 155);
}

.root {
  background: green;
}

.target {
  background: red;
}

.searched {
  animation: 1s ease both searchTile;
}

.path {
  animation: 1.0s ease both pathTile;
}

@keyframes searchTile {
  from {
    background-color: rgb(19, 105, 255);
    border-radius: 100%;
    transform: scale(0.55);
    opacity: 10%;
  }

  to {
    background-color: rgb(111, 255, 255);
    border-radius: 0%;
    transform: scale(1.0);
    opacity: 100%;
  }
}

@keyframes pathTile {
  from {
    background-color: rgb(249, 248, 234);
    transform: scale(1.5);
  }

  to {
    background-color: rgb(255, 225, 0);
    transform: scale(1.0);
  }
}